* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #dff6fc;
    overflow: hidden;
    font-family: 'Press Start 2P', sans-serif, cursive;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.game__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#start {
    background: transparent;
    border: none;
    position: absolute;
    font-size: 3.5rem;
    font-family: 'Press Start 2P', sans-serif, cursive;
    font-weight: bold;
    color: #dff6fc;
    z-index: 10;
    left: 33px;
    cursor: pointer;
}

.game__menu__score {
    width: 35vw;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 15;
}

.game__menu__score span {
    margin-left: 10px;
}

.game {
    position: relative;
    z-index: 1;
}


.game__bubble {
    border-radius:50%;
    position: absolute;
    -webkit-box-shadow:inset 10px 10px 50px rgba(200,255,255,.6);
    box-shadow:inset 10px 10px 50px rgba(200,255,255,.6);
    opacity: 0.9;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 20;
    -webkit-transition: left 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), top 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity 1000ms;
    -o-transition: left 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), top 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity 1000ms;
    transition: left 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), top 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity 1000ms;
    cursor: pointer;
}

.game__bubble--small {
    width: 4.70rem;
    height: 4.70rem;
}

.game__bubble--medium {
    width: 6.25rem;
    height: 6.25rem;
}

.game__bubble--big {
    width: 9.375rem;
    height: 9.375rem;
}

.game__bubble:before {
    content:"";
    display:block;
    position:absolute;
    width:50%;
    height:50%;
    top:7.5%;
    left:7.5%;
    border-radius: 75% 25%;
    -webkit-box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
    box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
}

.game__bubble:after {
    content:"";
    display:block;
    position:absolute;
    width:85%;
    height:85%;
    border-radius:100%;
    left:7.5%;
    top:7.5%;
    -webkit-box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
    box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
}

@-webkit-keyframes bubble_click {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bubble_click {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.game__bubble:not(:active) {
    -webkit-animation-name: bubble_click;
    animation-name: bubble_click;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px
    }
    100% {
        margin-left: 100%;
    }
}

.cloud {
    width: 21.875rem;
    height: 7.5rem;
    background: #fff;
    border-radius: 6.25rem;
    position: relative;
    z-index: 10;
    margin-top: 1rem;
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.cloud::before, .cloud::after {
    content: '';
    display: block;
    background: #fff;
    position: absolute;
}


.cloud::before {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    top: -50px;
    left: 50px;
}

.cloud::after {
    border-radius: 6.25rem;
    width: 11.25rem;
    height: 11.25rem;
    right: 50px;
    top: -90px;
}

.cloud--type_xs{
    -webkit-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75);
}

.cloud--type_s {
    -webkit-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.cloud--type_m {
    -webkit-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    -webkit-transform: scale(.35);
    -ms-transform: scale(.35);
    transform: scale(.35);
}

.cloud--type_l {
    -webkit-animation: animateCloud 17s linear infinite;
    animation: animateCloud 17s linear infinite;
    -webkit-transform: scale(.25);
    -ms-transform: scale(.25);
    transform: scale(.25);
}

.cloud--type_xl {
    -webkit-animation: animateCloud 28s linear infinite;
    animation: animateCloud 28s linear infinite;
    -webkit-transform: scale(.65);
    -ms-transform: scale(.65);
    transform: scale(.65);
}

