* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.game__score__cnt {
    width: 90vw;
    /*height: 90vh;*/
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}



.game__score {
    width: 15vw;
    height: 10vh;
    border: 2px solid darkred;
    border-bottom: none;
}

.game {
    position: relative;
    border: 2px solid darkred;
}

.game__element {
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 50%;
    background: #bada55;
    position: absolute;
}

.top_left {
    top: 0;
    left: 0;
}

.top_right {
    top: 0;
    right: 0;
}

.bottom_left {
    bottom: 0;
    left: 0;
}

.bottom_right {
    bottom: 0;
    right: 0;
}

.center {
    top: 43vh;
    left: 41vw;
}