@import 'variables/variables';

body {
  background: $backgroundColor;
  overflow: hidden;
  font-family: 'Press Start 2P', sans-serif, cursive;
  font-weight: bold;
  color: $fontColor;
  text-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  //display: flex;
}


@keyframes blinkingText {
  0% {  opacity: 0;
        transform: scale(1);
  }
  //50% {opacity: 1;}
  100% {  opacity: 1;
          transform: scale(1.2);
  }
}

.blinking {
  animation: blinkingText .8s alternate infinite;
}
.game__menu {
  //margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  & span.blinking {
    margin-left: 50px;
    opacity: 1;
  }
}

.game__menu__score {
  width: 35vw;
  //height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 15;
}

.game__menu__score div {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.game {
  position: relative;
  z-index: 1;
}

#start {
  background: transparent;
  border: none;
  position: absolute;
  font-size: 3.5rem;
  font-family: 'Press Start 2P', sans-serif, cursive;
  font-weight: bold;
  color: $backgroundColor;
  z-index: 10;
  left: 33px;
  cursor: pointer;
}